.form-container {
  margin-top: 144px;
}

.select {
  position: relative;
  grid-area: select;
}

.select.select--active .select__button {
  color: $white;

  background-color: #3d4050d9;
  border: 1px solid #3d4050d9;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;

  svg {
    fill: $white;
  }
}

.select__button {
  cursor: pointer;

  position: relative;

  width: 100%;
  padding: 12px 10px;

  font-size: 18px;
  font-weight: 400;

  background-color: $white;
  border: 1px solid $white;
  border-radius: 3px;

  transition: all 0.3s;

  @include flex(row, space-between, center);

  &:focus,
  &--active {
    outline: none;
  }
}

.select__list {
  position: absolute;
  z-index: 1;
  top: 47px;
  left: 0;

  overflow: auto;
  display: none;

  width: 100%;
  height: 180px;
  margin: 0;
  padding: 0;

  list-style-type: none;

  background-color: #272733e5;
  border: 1px solid #3d4050;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  transition: all 0.3s;

  &--visible {
    display: block;
  }
}

.select__list::-webkit-scrollbar {
  width: 7px;
}

.select__list::-webkit-scrollbar-track {
  background: #3d4050;
  border-radius: 3px;
}

.select__list::-webkit-scrollbar-thumb {
  background-color: $accent;
  border: 2px solid #2a2c3b;
  border-radius: 4px;
}

.select__list::-webkit-scrollbar-thumb:hover {
  background-color: $accent;
}

.select__list::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

.select__list-item {
  cursor: pointer;

  display: block;

  width: 100%;
  margin: 0;
  padding: 0 10px;

  font-size: 18px;
  line-height: 34px;
  color: $white;
  text-align: left;

  background-color: #272733e5;
  border: none;

  transition: all 0.3s;

  &:hover,
  &:focus {
    color: $accent;
    outline: 0;
  }
}

.select__input-hidden {
  display: none;
}

.select__list--visible {
  display: block;
}

input[type='text'],
input[type='email'],
.file-upload {
  cursor: pointer;

  width: 100%;
  padding: 12px 10px;

  font-size: 18px;
  font-weight: 400;

  background-color: $white;
  border: 1px solid $white;
  border-radius: 3px;

  transition: all 0.3s;
}

input[type='text'] {
  grid-area: name;
}

input[type='email'] {
  grid-area: email;
}

input[type='file'] {
  display: none;
}

.file-upload {
  @include flex(row, center, center);

  grid-area: file;
  gap: 10px;
}

.form-container {
  display: grid;
  grid-template-areas:
    'select email name'
    'range range file'
    'button button button';
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.range-container {
  grid-area: range;

  input[type='range'] {
    position: relative;
    top: 4px;

    width: 100%;
    margin-top: 6px;

    appearance: none;

    &::-webkit-slider-runnable-track {
      height: 6px;
      opacity: 0, 7;
      background-color: $white;
      border-radius: 3px;
    }

    &::-webkit-slider-thumb {
      margin-top: -5px;
    }
  }
}

.range-container__info {
  @include flex(row, space-between, center);

  font-size: 18px;
  color: $white;
}

.btn-submit {
  grid-area: button;
  width: 370px;
  margin: 10px auto;
}

@media (width < 992px) {
  .select__button,
  .select__list-item,
  input[type='text'],
  input[type='email'],
  .range-container__info,
  .file-upload {
    font-size: 14px;
  }
}

@media (width < 768px) {
  .form-container {
    grid-template-areas:
      'select'
      'email'
      'name'
      'range'
      'file'
      'button';
    grid-template-columns: 1fr;
  }

  .btn-submit {
    width: 100%;
  }
}
