.steps {
  @include flex(row, center, center);

  gap: 13px;
  margin: 80px 54px 0;
}

.step {
  position: relative;

  flex-shrink: 0;

  width: 100px;
  height: 100px;

  background-color: $accent;
  border: $accent-border;
  border-radius: 100%;

  @include flex(row, center, center);
}

.step-text {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);

  width: 185px;
  margin-top: 20px;

  font-size: 16px;
  font-weight: 400;
  color: $white;
  text-align: center;
}

.points {
  @include flex(row, space-between, center);

  width: 110px;

  .point {
    width: 6px;
    height: 6px;
    background-color: #c4c4c4;
    border-radius: 50%;
  }
}

@media (width < 992px) {
  .points .point:nth-child(even) {
    display: none;
  }

  .step-text {
    font-size: 12px;
  }
}

@media (width < 768px) {
  .steps {
    @include flex(column, center, center);

    gap: 80px;
  }

  .points {
    display: none;
  }

  .step-text {
    font-size: 18px;
  }
}
