.order {
  padding: 121px 0 151px;
  background-color: #272733;
  background-image: image-set(
    url('./../images/order/order-bg@1x.png') 1x,
    url('./../images/order/order-bg@2x.png') 2x,
    url('./../images/order/order-bg@3x.png') 3x
  );
}

.title {
  font-size: 36px;
  font-weight: 800;
  color: $white;
  text-align: center;
  text-transform: uppercase;
}

.subtitle {
  margin-top: 30px;

  font-size: 18px;
  font-weight: 400;
  color: $lightgray;
  text-align: center;
}
